.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.box{
    padding:50px;
    background:rgba(16#888888ab);
    margin:50px;
    align-items: center;
    width: 100px;
    height:100px;
    display:flex;
    justify-content:flex;
}